@import url('https://fonts.googleapis.com/css?family=Lato:300i,400,700|Source+Sans+Pro|Open+Sans|Ubuntu+Mono:400,700,400italic');

a, a:visited, a:hover, a:active {
	color: #15a8e1;
}
.remark-slide-content {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.4em;
}

h1, h2, h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.remark-slide-content h3 {
	font-size: 25px;
	font-weight: 700;
}

.remark-slide-content h2 {
	font-family: 'Open Sans';
	font-size: 1.4em;
	font-style: italic;
}

ol ol {
	list-style-type: lower-alpha;
	margin-top: 10px;
	margin-bottom: 20px;
}
ul li {
	margin-top: 10px;
	margin-bottom: 10px;
}

ol li p {
	margin: 0;
}

.summary {
	display: block;
	text-align: center;
	font-weight: bold;
	color: #000;
}

/* Slide Styles */
.slide-title {
	background-color: #15a8e1;
	background-image: url(./images/backgrounds/fwind-speeds-blurred.png);
	background-size: cover;
	color: #EEE;
}

.slide-title h1 {
	background-color: #15a8e1;
	padding: 5px;
}

.slide-title h2 {
	background-color: rgba(9, 25, 37, .9);
	padding: 5px;
}

.slide-section {
	background-color: #e08c16;
	color: #EEE;
	text-align: left;
	vertical-align: middle;
}

.slide-section h1 {
	font-size: 4em;
}

.slide-section h2 {
	font-size: 1.8em;
}

.slide-feature {
	background-color: rgb(9, 25, 37);
	color: #EEE;
	text-align: left;
}
.slide-feature .feature-image {
	display: block;
	vertical-align: middle;
	text-align: center;
}
.slide-feature .feature-image img {
	max-height: 350px;
}

.slide-primary {
	background-color: rgb(9, 25, 37);
	color: #EEE;
}

.slide-primary h1 {
	color: #15a8e1;
}

.slide-primary .summary {
	color: #ffc880;
}

.slide-secondary {
	background-color: rgb(9, 25, 37);
	color: #EEE;
}

.slide-secondary h1 {
	color: #e08c16;
}

.slide-secondary .summary {
	color: #6a9bb0;
}

/* Specific Styles */
.inline-logo img {
	height: 2em;
	vertical-align: middle;
}

.right-icon img {
	height: 1em;
	display: block;
	float: right;
}

.img-float-right {
	display: block;
	float: right;
}
.img-float-right img  {
	display: block;
	float: right;
}

.size-height-150px * {
	height: 150px;
}

.size-height-full * {
	height: 400px;
}

.large-content p, .large-content li, .large-content span {
	font-size: 1.4em;
	line-height: 1.8em;
}
.remark-container {
	background-color: rgb(6, 15, 23);
}

.remark-slide-scaler {
	box-shadow: rgb(9, 25, 37) 0px 0px 30px 0px;
}

.remark-code, .remark-inline-code {
	font-family: 'Ubuntu Mono';
}

.presenter-block {
	float: left;
	width: 50%;
}
.presenter-block p {
	margin: 0;
	float:left;
}
.presenter-block .headshot img {
	height: 100px;
	margin-right: 15px;
}
.presenter-block h1 {
	font-size: 32px;
	margin: 10px 0 20px 0;
}
.presenter-block .connect-logo img {
	height: 24px;
	vertical-align: middle;
}
